@font-face {
  font-family: 'PermanentMarker';
  src: url('/fonts/PermanentMarker-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Teko';
  weight: 300;
  src: url('/fonts/Teko/Teko-Light.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Teko';
  weight: 400;
  src: url('/fonts/Teko/Teko-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Teko';
  weight: 500;
  src: url('/fonts/Teko/Teko-Medium.ttf') format('truetype');
  font-display: swap;
}
