*::selection {
  background: #ddd;
}

.container {
  width: 80%;
  margin: 0 auto;

  @media (max-width: 1000px) {
    width: 90%;
  }

  @media (max-width: 600px) {
    width: 96%;
  }
}

body {
  font-family: 'Jost-Regular';
}

.link {
  text-decoration: underline;
  font-weight: bold;
}
