.footer {
  background: #000;
  color: #fff;
  padding: 50px 0;
  display: flex;
  justify-content: center;
}

.footer__contact {
  display: flex;
  align-items: center;
}

.footer__telegram-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__telegram-contact {
  opacity: 0.3;
}

.footer__telegram-message {
  display: flex;
  align-items: center;
}

.footer__telegram-icon {
  filter: invert(1);
  padding: 2px;
  margin-left: 5px;
}
