.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'PermanentMarker';
  margin-top: 100px;
  margin-bottom: 100px;
}

.header__title-container {
  background: #fff;
  position: relative;
  right: -40px;
  width: 600px;
  padding: 20px;
  box-shadow: 10px 10px 20px 0px rgba(0,0,0,1);
}

.header__title {
  font-size: 52px;
  letter-spacing: 3px;
  display: flex;
  flex-direction: column;
}

.header__subtitle {
  margin-top: 10px;
  font-size: 20px;
  letter-spacing: 3px;
}

.header__image {
  width: 400px;
  box-shadow: 10px 10px 20px 0px rgba(119,119,119,1);
}
