.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.skills-item {
  width: 300px;
  font-size: 24px;
  box-shadow: 12px 10px 9px -14px rgba(0, 0, 0, 0.75);
  text-align: center;
  margin: 0 10px 15px 10px;
  white-space: nowrap;
}
