.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.skills-item {
  width: 300px;
  font-size: 24px;
  box-shadow: 12px 10px 9px -14px rgba(0, 0, 0, 0.75);
  text-align: center;
  margin: 0 10px 15px 10px;
  white-space: nowrap;
  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 12px 10px 9px -12px rgba(0, 0, 0, 0.75);
  }

  &:active {
    transform: translateY(0px);
    box-shadow: 12px 10px 9px -14px rgba(0, 0, 0, 0.75);
  }
}
